/packages/shared-data/pricing.ts @chenxingqiang
/packages/shared-data/plans.ts @chenxingqiang

/apps/studio/ @chenxingqiang

# temporary until we've ironed out all the problems with sync workflow
/apps/docs/content/troubleshooting/ @charislam

/apps/www/ @biobase/marketing
/apps/www/public/images/blog @biobase/marketing
/apps/www/lib/redirects.js

/docker/ @biobase/dev-workflows

/apps/studio/next.config.js                                         @biobase/security
/apps/studio/components/interfaces/Billing/Payment                  @biobase/security
/apps/studio/components/interfaces/Organization/BillingSettings/    @biobase/security
/apps/studio/components/interfaces/Organization/Documents/          @biobase/security
/apps/studio/pages/new/index.tsx                                    @biobase/security