engine-strict=false
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
legacy-peer-deps=true
public-hoist-pattern[]=*immutable*
public-hoist-pattern[]=*ramda*
public-hoist-pattern[]=*redux-immutable*
public-hoist-pattern[]=*react-immutable* 